.updatePassword__container {
    display: flex;   
    height: 100vh;
    margin-top: 1.1rem;
}

.updatePassword__nav {
    padding: 1rem 2rem;     
    background-color: var(--background-color-primary); 
}

.updatePassword__contentContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.updatePassword__content {
    display: flex;
    flex-direction: column;
    width: 22rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: auto;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.updatePassword__contentTitle {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.updatePassword__contentTitle > h1 {
    font-size: var(--font-size-large);
    color: var(--font-color-primary);
    font-weight: 700; 
    margin-left: 0.5rem;   
}

.updatePassword__form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.updatePassword__form > input {
    margin-bottom: 1rem;
    height: 2rem;
    border: none;
    outline-width: 0;
    border-bottom: 1px solid lightgray;
}