@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --background-color-header: #000;
  --background-color-nav: #333;
  --background-color-primary: #ffffff;
  --background-color-category: #f4f4f4;
  --background-color-dark: #002240;
  --background-color-button: #800080;
  --font-color-primary: #575757;
  --font-color-link: #19D9FD;
  --font-color-header: #ffffff;
  --font-color-dark: #000;
  --font-color-error:  #d9534f;
  --font-color-success: #5cb85c;
  --font-size-xxl: 2rem;
  --font-size-xl: 1.7rem;
  --font-size-large: 1.4rem;
  --font-size-md: 1.2rem;
  --font-size-small: 1rem; 
  --font-size-xs: 0.8rem; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:hover {
  color: #fff;
}


